<!-- <mat-card> -->
    <div>
        <div class="modalHeader">
            <div class="contact-details-name mb-1">Add Expense</div>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <!-- <mat-card-content> -->
            <form [formGroup]="expensesForm">
                <div class="row">
                   
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Select Route </mat-label>
    
                            <input formControlName="route" matInput [value]="route" required readonly />
    
                            <button (click)="openRouteDialog()" mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Expense Name</mat-label>
                            <input matInput formControlName="expenseName" required />
                            <mat-error *ngIf="expensesForm.get('expenseName').hasError('required')">
    
                                Field required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Date Occurred</mat-label>
    
                            <input matInput [matDatepicker]="dateOccurredPicker" formControlName="dateOccurred" required />
                            <mat-datepicker-toggle matSuffix [for]="dateOccurredPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dateOccurredPicker></mat-datepicker>
    
                            <mat-error *ngIf="expensesForm.get('dateOccurred').hasError('required')">
                                Date Occurred is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Amount </mat-label>
                            <input matInput formControlName="amount" pattern="[0-9]+(\.[0-9]+)?" required />
                            <mat-error *ngIf="expensesForm.get('amount').hasError('required')">
                                Field required </mat-error>
                        </mat-form-field>
                    </div>
                  
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Description </mat-label>
                            <input matInput formControlName="description" required />
                            <mat-error *ngIf="expensesForm.get('description').hasError('required')">
                                Field required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                        <mat-form-field class="example-full-width" appearance="outline">
    
                            <mat-label>Vendor </mat-label>
                            <input matInput formControlName="vendor" />
                        </mat-form-field>
                    </div>
    
                  
    
                </div>
            </form>
    
            <div class="row">
                <!-- <mat-card> -->
                    <!-- <mat-card-content> -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                            <div class="example-button-row">
                                <button mat-raised-button color="primary" [disabled]="!expensesForm.valid"
                                    (click)="onSubmit()">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    <b>Submit</b>
                                </button>
                                <!-- <button mat-button (click)="closeDialog()">Close</button> -->
                            </div>
                        </div>
                    <!-- </mat-card-content> -->
                <!-- </mat-card> -->
            </div>
            </div>
        <!-- </mat-card-content>
    </mat-card> -->
