<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'Water Configuration'" [items]="['config']" [active_item]="'Water Configuration'">
        </app-breadcrumb>
      </div>
     
      </div> 
      <mat-tab-group>
        
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Routes Config
          </ng-template>
          <app-routes></app-routes>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Members
          </ng-template>
          <app-members></app-members>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Send Message
          </ng-template>
          <app-send-sms></app-send-sms>
        </mat-tab>
      </mat-tab-group>
  
    
  </section>
